<mat-toolbar color="primary" fxLayout="row-reverse">
  <div fxFlex></div>
  <div fxFlex="80">

    <img src="assets/logo.png"/>

    BTP:INNOVATION

  </div>
  <div fxFlex></div>
</mat-toolbar>
<div class="page-container" fxLayout="row-reverse" layout="row" layout-align-lg="center">
  <div fxFlex></div>
  <div fxFlex="60" class="grid-full">

    <div id="feedback-input-area">
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Envie sua opinião" [disabled]="isSaving" [(ngModel)]="feedback.description"></textarea>
      </mat-form-field>
      <div>
        <div fxFlex>
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="feedback.category" [disabled]="isSaving">
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex>

          <div class="pull-right">
            <img src="assets/loading.gif" style="width: 36px; float: left;" *ngIf="isSaving"/>
            <!-- <button mat-flat-button color="primary" (click)="newPost()" [disabled]="isSaving" *ngIf="afAuth.user | async as user; else showLogin"> -->
            <button mat-flat-button color="primary" (click)="newPost(user)" [disabled]="isSaving" *ngIf="afAuth.user | async as user; else showLogin">
              Enviar como {{user.displayName}}
            </button>
            <ng-template #showLogin>
              <button mat-flat-button color="primary" (click)="newPost()" [disabled]="isSaving">
                Enviar
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-top: 30px;">

      <div class="my-own-grid-list">
        <div class="grid grid-2 post-thumbs"></div>
        <div class="grid grid-8">
          <h3>Hoje</h3>
        </div>
      </div>

      <div class="my-own-grid-list" *ngFor="let item of feedItems | async">
        <div class="grid grid-2 post-thumbs">
          <div class="full-width" style="float: left;">
            <button mat-icon-button>
              <mat-icon aria-label="Vote" class="thumb-up-icon thumbs-icon" (click)="upVote(item)">thumb_up</mat-icon>
            </button>
          </div>

          <div class="rate-info full-width">{{item.count ? item.count : 0}}</div>

          <div class="full-width">
            <button mat-icon-button>
              <mat-icon aria-label="Vote" class="thumb-down-icon thumbs-icon" (click)="downVote(item)">thumb_down</mat-icon>
            </button>
          </div>
        </div>
        <div class="grid grid-8">

          <div class="post-box">
            <div class="post-content-container">
              <p>
                {{ item.description }}
              </p>
            </div>
          </div>

          <div class="post-footer">
            <div class="post-info">

              <div class="pull-left"><span style="padding: 6px; display: block;">{{getCategoryName(item.category)}} | {{ item.createdAt.toDate() | date:"HH'h'mm"}}</span></div>
              <div class="pull-left user-info" style="display: block;"><img [src]="item.photoURL" class="photo"/> <span style="color: #c7c7c7;">{{item.displayName}}</span></div>

              <button mat-stroked-button color="primary" class="pull-right" (click)="openDialog(item)">Responder</button>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div fxFlex></div>
</div>
