<h2 mat-dialog-title>Responder proposta</h2>
<mat-dialog-content class="mat-typography">
  <p class="feedback-text">{{data.description}}</p>
  <div class="pull-left full-width">
  	<div class="pull-left">
	  	<mat-icon  class="thumb-up-icon" *ngIf="data.count >= 0">thumb_up</mat-icon>
	  	<mat-icon  class="thumb-down-icon" *ngIf="data.count < 0">thumb_down</mat-icon>
		  {{data.count}}
		</div>
		<div class="pull-left user-info" style="display: block;"><img [src]="data.photoURL" class="photo"/> <span style="color: #c7c7c7;">{{data.displayName}}</span></div>
	</div>
	<div *ngIf="data.answers && data.answers.length" style="margin-top: 32px; display: block;">
		<h2>Respostas</h2>
			<div class="my-own-grid-list small-list" *ngFor="let answer of data.answers">
        <div class="grid grid-2 post-thumbs">

          <div style="float: left;">
            <button mat-icon-button>
              <mat-icon aria-label="Vote" class="thumb-up-icon thumbs-icon" (click)="upVote(answer)">thumb_up</mat-icon>
            </button>
          </div>

          <div class="rate-info" style="float: left;">{{answer.count ? answer.count : 0}}</div>

          <div style="float: left;">
            <button mat-icon-button>
              <mat-icon aria-label="Vote" class="thumb-down-icon thumbs-icon" (click)="downVote(answer)">thumb_down</mat-icon>
            </button>
          </div>
        </div>
        <div class="grid grid-8">

          <div class="post-box">
            <div class="post-content-container">
              <p>
                {{ answer.text }}
              </p>
            </div>
          </div>

          <div class="post-footer">
            <div class="post-info">

              <div class="pull-left user-info" style="display: block;"><img [src]="answer.photoURL" class="photo"/> <span style="color: #c7c7c7;">{{answer.displayName}}</span></div>

            </div>
          </div>

        </div>
      </div>

	</div>
	<div>
		<mat-form-field class="full-width" style="margin-top: 30px">
			<textarea matInput placeholder="Envie uma resposta" [disabled]="isSaving" [(ngModel)]="response.text"></textarea>
		</mat-form-field>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<img src="assets/loading.gif" style="width: 36px; float: left;" *ngIf="isSaving"/>
  <button mat-button mat-dialog-close>Fechar</button>

  <button mat-button color="primary" (click)="sendResponse(user)" cdkFocusInitial [disabled]="isSaving" *ngIf="afAuth.user | async as user; else showLogin">
    <mat-icon>send</mat-icon> Responder como {{user.displayName}}
  </button>
  <ng-template #showLogin>
    <button mat-button color="primary" (click)="sendResponse()" [disabled]="isSaving" cdkFocusInitial>
      <mat-icon>send</mat-icon> Responder
    </button>
  </ng-template>

</mat-dialog-actions>