/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body { margin: 0 !important; background-color: #FFF; font-family: Roboto,"Helvetica Neue",sans-serif; }

.full-width {
	width: 100%;
}

.pull-right {
	float: right !important;
}

.mat-list-base .mat-list-item {
	height: auto !important;
}

.my-own-grid-list {
	width: 100%;
	display: flex;
}

.my-own-grid-list .grid {
	flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.my-own-grid-list .grid-2 {
	flex: 0 0 20%;
    max-width: 20%;
}

.my-own-grid-list .grid-8 {
	flex: 0 0 80%;
    max-width: 80%;
}

.mat-toolbar.mat-primary, .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary, .mat-form-field-ripple {
	background: #61a236 !important;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary, .mat-option-text, .mat-form-field-label {
	color: #61a236 !important;
}


.cdk-overlay-pane {
  width: 600px !important;
  max-width: 100% !important;
}

@media (max-width: 700px) {
	.grid-full { max-width: 90% !important; }
	.cdk-overlay-pane {
	  width: 90% !important;
	  max-width: 100% !important;
	}
}

.thumb-up-icon {
	color: #2ecc71;
}

.thumb-down-icon {
	color: #e74c3c;
}

.feedback-text {
	padding: 10px;
	background-color: #eaeaea;
}

.mat-snack-bar-container {
	margin: auto !important;
	text-align: center;
}

.answers {

}

.pull-left { float: left; }

.photo {
	border-radius: 50%;
	width: 26px;
}

.user-info {
	float : left;
	margin-left: 6px;
}

.user-info img, .user-info span {
	float: left;
}

.user-info span {
	padding: 6px;
}

.post-thumbs {
	text-align: center;
	border-right: 2px solid #eaeaea;
}

.post-thumbs button {
	display: inline-block;
}

.thumbs-icon {
	font-size: 40px !important;
}

.rate-info { 
	font-size: 22px;
	text-align: center;
	margin-left: 10px;
}

.app-class .mat-list-item {
  height: auto;
}

.post-content {
	padding-left: 10px;
}

.post-box {
	float: left;
  background-color: #f9f9f9;
  padding: 12px;
  margin: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

.post-box p {
  margin-top: 0;
}

h3 {
	padding: 16px; margin: 0;
}

.post-footer {
	margin: 16px;
	display: block;
	float: left;
	width: 100%;
}

.post-box .post-content-container {
	display: inline;
}

@media (max-width: 700px) {
	.grid-full { max-width: 90% !important; }
}

.small-list {
	width: 95% !important;
}

.small-list .thumbs-icon {
	font-size: 22px !important;
}

.small-list .rate-info {
	margin-top: 6px;
	font-size: 16px;
	font-weight: bold;
	margin-left: 2px;
}